// Este arquivo contém os estilos específicos do seu tema/aplicação
// que não são relacionados diretamente ao Bootstrap ou Admin-LTE

.login-page,
.register-page {
  background-color: #d2d6de;
}

.bg-harpia-primary {
  background-color: #3c8dbc;
}

.bg-harpia-secondary {
  background-color: #e7e7ff;
}